@import "tailwindcss";

:root {
  --background: #f3f3f1;
  --foreground: #000000;
  --navbar-height: 64px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, sans-serif;
}
